print
1  
1 2  
1 2 3  
1 2 3 4  
1 2 3 4 5

In [124]:
n=int(input("Enter a no: "))
for i in range(1,n+1):#
    for j in range(1,i+1):
        print(j, end=" ")
    print(" ")

Enter a no: 5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [7]:
#pattern3
n=int(input("Enter a no: "))
for i in range(1,n+1):#to print rows
    for j in range(1,i+1):#to print coloumns
        print(i, end=" ")
    print(" ")

Enter a no: 5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [11]:
#pattern4
n=int(input("Enter a no: "))
for i in range(1,n+1):#to print rows
    for j in range(1,i+1):#to print coloumns
        print(j, end=" ")
    print(" ")
for a in range(1,n):#to print rows
    for b in range(1,n-a+1):#to print coloumns
        print(b, end=" ")
    print(" ")

Enter a no: 5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [15]:
#pattern5.1
n=int(input("Enter a no: "))
for a in range(1,n+1):
    for b in range(1,n-a+2):
        print(b, end=" ")
    print(" ")
for i in range(1,n+1):#to print rows
    for j in range(1,i+1):#to print coloumns
        print(j, end=" ")
    print(" ")

Enter a no: 5
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [28]:
n=int(input("Enter a no: "))
for i in range(1,n+1):#to print rows
    for j in range(1,n-i+2):#to print coloumns
        print(n-j+1, end=" ")
    print(" ")

Enter a no: 5
5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [ ]:
s=input("Enter a no: ")

for i in range(1,n+1):#to print rows
    for j in range(1,n-i+2):#to print coloumns
        print(n-j+1, end=" ")
    print(" ")

In [38]:
#pattern5
n=int(input("Enter a no: "))
for i in range(n,0,-1):#to print rows
    for j in range(i,0,-1):#to print coloumns
        print(j, end=" ")
    print(" ")
for a in range(1,n+1):#to print rows
    for b in range(a,0,-1):#to print coloumns
        print(b, end=" ")
    print(" ")

Enter a no: 5
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1
1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [42]:
#pattern 6
n=int(input("Enter a no: "))
for i in range(1,n+1):#to print rows
    for a in range(1,n-i+1):
        print(" ",end="")
    for j in range(1,i+1):#to print coloumns
        print(j, end=" ")
    print(" ")

Enter a no: 5
    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5

In [65]:
#pattern7
n=int(input("Enter a no: "))
for i in range(n,0,-1):#to print rows
    for j in range(1,i+1):#to print coloumns
        print(n-j+1, end=" ")
    print(" ")

Enter a no: 5
5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [73]:
#pattern8
n=int(input("Enter a no: "))
for i in range(1,n+1):#to print rows
    for j in range(1,i+1):#to print coloumns
        print(n-j+1, end=" ")
    print(" ")

Enter a no: 5
5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [87]:
#pattern9
n=int(input("Enter a no: "))
for i in range(1,n+1):#to print rows
    for j in range(1,n-i+2):#to print coloumns
        print(j, end=" ")
    print(" ")

Enter a no: 5
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [92]:
#pattern10 floyd's triangle
n=int(input("Enter a no: "))
k=1
for i in range(1,n+1):#to print rows
    for j in range(1,i+1):#to print coloumns
        print(k, end=" ")
        k+=1
    print(" ")

Enter a no: 5
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [97]:
#pattern11
n=int(input("Enter a no: "))
for i in range(1,n+1):#to print rows
    for j in range(1,i+1):#to print coloumns
        print(i-j+1, end=" ")
    print(" ")

Enter a no: 5
1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [147]:
#pattern12
n=int(input("Enter a no: "))
for i in range(1,n+1):#to print rows
    for j in range(1,i+1):#to print coloumns
        print(i, end=" ")
        i+=5
    print(" ")

1
2 7
3 8 13
4 9 14 19
5 10 15 20 25

In [113]:
#pattern13 pascles
n=int(input("Enter a no: "))
for i in range(0,n):#to print rows
    for a in range(1,n-i+1):
        print(" ",end="")
    #for j in range(1,i+1):#to print coloumns
    print(11**i, end=" ")
    print(" ")

Enter a no: 5
     1
    11
   121
  1331
 14641

In [123]:
#pattern14
n=int(input("Enter a no: "))   
for i in range(1, n+1,):
    print(" ")
    for a in range(1,i+1):
        print(a,end=" ")
    for j in range(1,i):#to print coloumns
        print(i-j, end=" ")
    print(" ")

Enter a no: 5

1

1 2 1

1 2 3 2 1

1 2 3 4 3 2 1

1 2 3 4 5 4 3 2 1

In [128]:
#pattern15
n=int(input("Enter a no: "))
for i in range(1,n+1):#to print rows
    for a in range(1,i+1):
        print(" ",end="")
    for j in range(1,n+2-i):#to print coloumns
        print(j, end=" ")
    print(" ")

Enter a no: 5
 1 2 3 4 5
  1 2 3 4
   1 2 3
    1 2
     1

In [141]:
#pattern16
n=int(input("Enter a no: "))
for i in range(1,n+1):#to print rows
    for a in range(1,n-i+1):
        print(" ",end="")
    for j in range(1,i+1):#to print coloumns
        print(j, end=" ")
    print(" ")
for i in range(1,n+1):#to print rows
    for a in range(1,i+1):
        print(" ",end="")
    for j in range(1,n+1-i):#to print coloumns
        print(j, end=" ")
    print(" ")

Enter a no: 5
    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5
 1 2 3 4
  1 2 3
   1 2
    1

In [22]:
#pattern17
n=int(input("Enter a no: "))
for i in range(1,n+1):#to print rows
    for a in range(1,i):
        print(" ",end="")
    for j in range(1,n+2-i):#to print coloumns
        print(n-j+1, end="")
    print(" ")
for b in range(1, n+1):#to print rows
    for d in range(n,b,-1):
        print(" ",end="")
    for c in range(1,b+1):#to print coloumns
        print(n-b+c, end="")
    print(" ")

Enter a no: 5
54321
 5432
  543
   54
    5
    5
   45
  345
 2345
12345

In [32]:
#pattern18
n=int(input("Enter a no: "))
for i in range(1,n+1):
    for a in range(1,i):
        print(" ",end="")
    for j in range(1,n+2-i):#to print coloumns
        print(j+i-1, end=" ")
    print(" ")
for b in range(1, n+1):#to print rows
    for d in range(n,b,-1):
        print(" ",end="")
    for c in range(1,b+1):#to print coloumns
        print(n-b+c, end=" ")
    print(" ")

Enter a no: 5
1 2 3 4 5
 2 3 4 5
  3 4 5
   4 5
    5
    5
   4 5
  3 4 5
 2 3 4 5
1 2 3 4 5

In [33]:
#pattern19
n=int(input("Enter a no: "))
for b in range(1, n+1):#to print rows
    for d in range(n,b,-1):
        print(" ",end="")
    for c in range(1,b+1):#to print coloumns
        print(n-b+c, end=" ")
    print(" ")

Enter a no: 5
    5
   4 5
  3 4 5
 2 3 4 5
1 2 3 4 5

In [39]:
#pattern20
n=int(input("Enter a no: "))   
for i in range(1, n+1,):
    print(" ")
    for b in range(n,i,-1):
        print(" ",end=" ")
    for a in range(1,i+1):
        print(a,end=" ")
    for j in range(1,i):#to print coloumns
        print(i-j, end=" ")
    print(" ")

Enter a no: 5

        1

      1 2 1

    1 2 3 2 1

  1 2 3 4 3 2 1

1 2 3 4 5 4 3 2 1

In [41]:
#pattern21
n=int(input("Enter a no: "))
for i in range(1,n+1):#
    for j in range(1,i+1):
        print(j%2, end=" ")
    print(" ")

Enter a no: 5
1
1 0
1 0 1
1 0 1 0
1 0 1 0 1

In [45]:
#pattern22
n=int(input("Enter a no: "))
a=0
for i in range(1,n+1):#
    for j in range(1,n+1):
        if i==j:
            print(j, end=" ")
        else:
            print(a, end=" ")
    print(" ")

Enter a no: 5
1 0 0 0 0
0 2 0 0 0
0 0 3 0 0
0 0 0 4 0
0 0 0 0 5

In [61]:
#pattern23
n=int(input("Enter a no: "))
for i in range(1,n+1):#to print rows
    for j in range(1,n-i+1):#to print coloumns
        print(1, end=" ")
    for j in range(1,i+1):#to print coloumns
        print(i, end=" ")
    print(" ")

Enter a no: 5
1 1 1 1 1
1 1 1 2 2
1 1 3 3 3
1 4 4 4 4
5 5 5 5 5

In [85]:
#pattern24
n=int(input("Enter a no: "))
for i in range(1,n+1):#
    for j in range(1,n-i+1):
        print(j+i-1, end=" ")
    for j in range(1,n+2-i):#to print coloumns
        print(n-j+1, end=" ")
    print(" ")

Enter a no: 5
1 2 3 4 5 4 3 2 1
2 3 4 5 4 3 2
3 4 5 4 3
4 5 4
5

In [87]:
#pattern25
n=int(input("Enter a no: "))
for i in range(1,n+1):#to print rows
    for a in range(1,n-i+1):
        print(" ",end="")
    for j in range(1,i+1):#to print coloumns
        print(i, end=" ")
    print(" ")

Enter a no: 5
    1
   2 2
  3 3 3
 4 4 4 4
5 5 5 5 5

In [101]:
#pattern26
n=int(input("Enter a no: "))
for b in range(1, n+1):#to print rows
    for c in range(1,b+1):#to print coloumns
        print(n-b+c, end=" ")
    for a in range(n,b,-1):
        print(n,end=" ")
    print(" ")

Enter a no: 5
5 5 5 5 5
4 5 5 5 5
3 4 5 5 5
2 3 4 5 5
1 2 3 4 5

In [104]:
#pattern27
n=int(input("Enter a no: "))
for i in range(1,n+1):#to print rows
    for j in range(1,i+1):#to print coloumns
        print(i, end=" ")
        i=i+n-j
    print(" ")

Enter a no: 5
1
2 6
3 7 10
4 8 11 13
5 9 12 14 15

In [21]:
#pattern28
n=int(input("Enter a no: "))
for i in range(1,n):#to print rows
    for j in range(1,i+1):#to print coloumns
        print(i, end=" ")
        i=i*2
    print(" ")
for a in range(1,n):#to print rows
    for b in range(1,n-a):#to print coloumns
        print(n+b+a-2, end=" ")
        c=n+b+a-2
        c*=2
        
        
    print(" ")

Enter a no: 5
1
2 4
3 6 12
4 8 16 32
5 6 7
6 7
7

In [1]:
for i in range(1,6):
    for j in range(1,i+1):
        a=j*i
        print(a,end=" ")
    print("")

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25